{% include 'base.html' %}
{%block body%}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Register</h3>
                </div>
                <div class="container">
                <p class="text-center text-danger mt-3 font-weight-bolder mb-0">{{context.message}}</p>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {%csrf_token%}
                        <div class="form-floating mb-3">
                            <input class="form-control" id="user_email" type="email" name="user_email"
                                 />
                            <label for="inputEmail">Enter Email</label>
                        </div>
                        <div class="form-floating mb-3" id="password_holder">
                            <input class="form-control"  type="password" name="user_pass1" />
                            <label for="inputEmail">Enter Password</label>
                        </div>
                        <div class="form-floating mb-3" id="password_holder">
                            <input class="form-control" type="password" name="user_pass2" />
                            <label for="inputEmail">Re-Enter Password</label>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" onclick='Proceed()'>Register</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="/login">Already have an account? Login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}